//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$lightGray: #f2f2f2;
$softGreen: #F4FFF2;

.calendarRow{
  border-bottom: solid 1px gray;
}

.calendarRow:hover{
  background: $lightGray;
}

.calendarRow.active{
  background: $softGreen;
}

th{
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  padding: 5px 0 5px 0;
  text-align: center;
}
td{
  text-align: center;
  padding: 10px 10px 10px 10px;
}

#calendar{
  margin-bottom: 20px;
}

.calendarBtn:hover{
  cursor: pointer;
}

.calendarBtn.disabled{
  color: $lightGray;
}

#participants{
  border-bottom: 1px solid gray;
  margin: auto;
}

.center{
  display: block;
  margin: auto;
}

.participantsTable{
  width: 600px;
  margin:auto;
  display: table;
}
.participantsTable > tbody> tr{
  background: $lightGray;
}

.participantsRow{
  background: white !important;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
