# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     mariadb
    database_port:     ~
    database_name:     akademija
    database_user:     root
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            SuperSecretAcademyHashKeyDoNotTellAnyone

    facebook_client:
        client_id: 1902721706722915
        client_secret: ecacaf772f3588c8579ef3e46d2b4184
        redirect_uri: http://localhost:8000/login/facebook/check
        url_authorize: https://www.facebook.com/v2.10/dialog/oauth
        url_access_token: https://graph.facebook.com/v2.10/oauth/access_token?
        url_resource: https://graph.facebook.com/me?fields=
