{% block nav %}
    <ul class="nav nav-pills nav-stacked admin_navbar">
    <li><a href="{{ path('homepage') }}">Pradžia</a></li>
    <li><a href="{{ path('admin.calendar') }}">Kalendorius</a></li>
    </ul>
{% endblock %}