<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "ThatWeek" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
        {% block header %}
            {% include "AppBundle:Admin:inc/navbar.html.twig" %}
        {% endblock %}
        </div>
        <div class="col-lg-10">
            {% block container %}
                {% block body %}{% endblock %}
            {% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>