{% block body %}
    <div class="title">NFQ Akademija</div>
    {% if app.user %}
        <div><a href="{{ path('logout') }}">Atsijungti</a></div>
    {% else %}
        <div><a href="{{ path('login.facebook') }}">Prisijungti</a></div>
    {% endif %}

{% endblock %}